<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="urobot">
      <h2 data-cy="urobotDetailsHeading"><span jhiTranslate="uiPathApp.urobot.detail.title">Urobot</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ urobot.id }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.name">Name</span></dt>
        <dd>
          <span>{{ urobot.name }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.description">Description</span></dt>
        <dd>
          <span>{{ urobot.description }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'uiPathApp.RobotType.' + urobot.type }}">{{ urobot.type }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.domainUsername">Domain Username</span></dt>
        <dd>
          <span>{{ urobot.domainUsername }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.password">Password</span></dt>
        <dd>
          <span>{{ urobot.password }}</span>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.uenvironment">Uenvironment</span></dt>
        <dd>
          <div *ngIf="urobot.uenvironment">
            <a [routerLink]="['/uenvironment', urobot.uenvironment?.id, 'view']">{{ urobot.uenvironment?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="uiPathApp.urobot.uenvironment">Uenvironment</span></dt>
        <dd>
          <div *ngIf="urobot.uenvironment">
            <a [routerLink]="['/uenvironment', urobot.uenvironment?.id, 'view']">{{ urobot.uenvironment?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/urobot', urobot.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
